@import '../../style/base.scss';

#layout_grid--section{
    background-color: $gray;
    border-radius: 25px;
    padding: 56px 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}