@import '../../style/base.scss';

#layout_grid--section{
    background-color: $gray;
    border-radius: 25px;
    padding: 56px 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        background-color: $secondary;
        padding: 0;
    }

    @media screen and (min-width: $tablet) and ( max-width: $desktop) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        background-color: $secondary;
        padding: 0;
    }
}