@import '../../style/base.scss';


.collapside__wrapper{

    max-width: 1023px;
    margin: 30px auto;


    .collapside__title{
        background-color: $primary;
        color: $secondary;
        height: 47px;
        border-radius: 5px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;

        display: flex;

        h3{
            font-size: 24px;
            padding-left: 18px;

            @media screen and (max-width: $mobile ) {
                font-size: 13px;
            }
        
            @media screen and (min-width: $tablet ) and (max-width: $desktop) {
                font-size: 18px;
            }

        }

        img{
            width: 18px;
            transform: rotate(270deg);
            position: absolute;
            left: 94%;
            right: 0;
            bottom: 10px;

            @media screen and (max-width: $mobile ) {
                width: 16px;
                height: 12px;

            }
        
            @media screen and (min-width: $tablet ) and (max-width: $desktop) {
                width: 18px;
                height: 18px;

            }
        }

        .rotate{
            transform: rotate(90deg);
            transition: all ease-in-out 5ms;
        }

        @media screen and (max-width: $mobile ) {
            height: 29.93px;
        }
    
        @media screen and (min-width: $tablet ) and (max-width: $desktop) {
            height: 36px;
        }
    }

    .collapside__content{
        background-color: $gray;
        min-height: 146px;
        padding: 36px 27px;
        display: flex;

        p{
            font-size: 24px;
            font-weight: 400;

            @media screen and (max-width: $mobile ) {
                font-size: 12px;
            }
        
            @media screen and (min-width: $tablet ) and (max-width: $desktop) {
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: $mobile ) {
        max-width: 100%;
    }

    @media screen and (min-width: $tablet ) and (max-width: $desktop) {
        max-width: 100%;
    }
}