@import '../../style/base.scss';

header{
    margin-bottom: 60px;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;
            width: 230px;
    
        }
    }

    .nav__links{
        display: flex;

        .nav__links--link{
            font-size: 24px;
            
        }
    }
}

.nav__links--link.active {
    text-decoration: underline;
}
