// Colors
$primary : #FF6060;
$secondary : #FFFFFF;
$gray : #F6F6F6;

// media queries 
$mobile : 640px;
$tablet : 768px;
$desktop: 1024px;


// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

  
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    h1{
        font-weight: 500;
        color: $primary;
        font-size: 36px;
    }

    a{
        color: $primary;
        font-weight: 500;
    }

    p{
        color: $primary;
        font-size: 18px;
        line-height: 25.67px;
        font-weight: 400;
    }

    li{
        color: $primary;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
    }
}

// Base Style 
.container{
    max-width: 1240px;
    margin: 40px auto 0;

    @media screen and (max-width: $mobile ) {
        max-width: 335px;
        margin: 20px auto 0;
    }

    @media screen and (min-width: $tablet ) and (max-width: $desktop) {
        max-width: 600px;
        margin: 30px auto 0;
    }
}

